body {
  margin: 0px;
  background-color: #c7c6c6;
}

/*Header*/
header {
  width: 100%;
  height: 130px;
  background-image: url(../font/font.png);
  background-repeat: repeat-x;
  position: relative;
}

.logoOricam {
  font-family: 'Sarpanch', sans-serif;
  color: white;
  margin-left: 1%;
  margin-top: 1%;
  font-size: 50px;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .logoOricam {
    font-size: 30px;
    margin-top: 5%;
    margin-left: 5%;
  }
}

.sloganOricam {
  font-family: 'Give You Glory', cursive;
  font-size: 38px;
  margin-top: 1%;
  color: white;
  width: 40%;
  position: absolute;
  left: 30%;
  top: 15px;
}

@media screen and (max-width: 1750px) {
  .sloganOricam {
    font-size: 35px;
  }
}

@media screen and (max-width: 1750px) {
  .sloganOricam {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .sloganOricam {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .sloganOricam {
    opacity: 0;
  }
}

.navIcon {
  font-size: 50px;
  color: white;
  position: absolute;
  right: 30px;
  top: 20%;
}

@media screen and (max-width: 480px) {
  .navIcon {
    font-size: 40px;
  }
}

/*Photos*/
#fontPhotos {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  padding: 0px;
  margin-right: -3px;
}

/*Section*/
#mainContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #mainContent {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  #mainContent {
    width: 99%;
  }
}

#sectionPagedaccueil {
  width: 70%;
  border: 5px solid #2c2b2b;
  margin-top: 15px;
  border-radius: 15px;
}

@media screen and (max-width: 1394px) {
  #sectionPagedaccueil {
    width: 65%;
  }
}

@media screen and (max-width: 980px) {
  #sectionPagedaccueil {
    width: 58%;
  }
}

@media screen and (max-width: 900px) {
  #sectionPagedaccueil {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  #sectionPagedaccueil {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
}

#titreSection {
  width: 50%;
  margin-left: 1%;
  font-size: 30px;
  text-decoration: underline;
  color: #2c2b2b;
}

@media screen and (max-width: 980px) {
  #titreSection {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #titreSection {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #titreSection {
    width: 97%;
  }
}

#gridProduits {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

@media screen and (max-width: 1394px) {
  #gridProduits {
    justify-content: space-between;
  }
}

@media screen and (max-width: 980px) {
  #gridProduits {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  #gridProduits {
    flex-direction: column;
    justify-content: center;
  }
}

.divProduit {
  width: 30%;
  min-width: 300px;
  height: 30%;
  border: 3px solid #2c2b2b;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 1%;
  margin-left: 1%;
  position: relative;
}

@media screen and (max-width: 1394px) {
  .divProduit {
    width: 45%;
  }
}

@media screen and (max-width: 980px) {
  .divProduit {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .divProduit {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .divProduit {
    width: 85%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.transparent:hover {
  opacity: 75%;
}

.imageProduits {
  object-fit: cover;
}

.nameProduit {
  position: absolute;
  background-color: #777575;
  width: 100%;
  height: 15%;
  min-height: 30px;
  bottom: 0%;
}

.nameProduit h3 {
  color: black;
  text-align: center;
  margin-top: 10px;
}

aside {
  width: 25%;
  height: 700px;
  border: 3px solid #2c2b2b;
  margin-top: 15px;
  border-radius: 15px;
  background-repeat: repeat-x;
  position: relative;
}

@media screen and (max-width: 1394px) {
  aside {
    width: 30%;
  }
}

@media screen and (max-width: 980px) {
  aside {
    width: 35%;
  }
}

@media screen and (max-width: 900px) {
  aside {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  aside {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  aside {
    height: auto;
  }
}

#AsideImageArea {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: 0%;
}

@media screen and (max-width: 1537px) {
  #AsideImageArea {
    height: 37%;
  }
}

@media screen and (max-width: 1456px) {
  #AsideImageArea {
    height: 36%;
  }
}

@media screen and (max-width: 1168px) {
  #AsideImageArea {
    height: 34%;
  }
}

@media screen and (max-width: 1118px) {
  #AsideImageArea {
    height: 31%;
  }
}

@media screen and (max-width: 1074px) {
  #AsideImageArea {
    height: 29%;
  }
}

@media screen and (max-width: 1031px) {
  #AsideImageArea {
    height: 26%;
  }
}

@media screen and (max-width: 1013px) {
  #AsideImageArea {
    height: 24%;
  }
}

@media screen and (max-width: 980px) {
  #AsideImageArea {
    height: 30%;
  }
}

@media screen and (max-width: 920px) {
  #AsideImageArea {
    height: 29%;
  }
}

@media screen and (max-width: 600px) {
  #AsideImageArea {
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 663px) {
  #infoOricam h2 {
    margin-bottom: 3px;
  }
}

#AsideImageArea img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.textAside {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

footer {
  width: 100%;
  height: auto;
  background-image: url(../font/font.png);
  background-repeat: repeat-x;
}

.footerList {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.footerList ul {
  list-style: none;
  color: white;
  font-size: 21px;
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

@media screen and (max-width: 950px) {
  .footerList ul {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  .footerList ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .footerList li {
    padding-bottom: 5px;
  }
}

.footerList a {
  color: white;
  text-decoration: none;
}

.footerList a:hover {
  text-decoration: underline;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  padding-left: 0;
}

@media screen and (max-width: 1000px) {
  .footerIcons {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .footerIcons {
    width: 65%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}

.footerIcons a {
  margin-right: 15%;
}

@media screen and (max-width: 478px) {
  .footerIcons a {
    margin-right: 0;
  }
}

.footerIcon {
  font-size: 25px;
  color: white;
}

/*Page Produits*/
a {
  text-decoration: none;
}

a:visited {
  color: white;
}

#productMain {
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 715px) {
  #productMain {
    flex-direction: column;
  }
}

#photoOfProduct {
  width: 45%;
}

@media screen and (max-width: 1200px) {
  #photoOfProduct {
    width: 65%;
  }
}

@media screen and (max-width: 715px) {
  #photoOfProduct {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 478px) {
  #photoOfProduct {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}

#product_name {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 35px;
}

#prodImageDiv {
  width: 96%;
  margin-left: 2%;
}

#ProdImage {
  object-fit: cover;
  border-radius: 15px;
  border: 3px solid #2c2b2b;
}

#product_description {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  min-height: 70px;
  background-color: #dddcd5;
  border: 3px solid #2c2b2b;
  border-radius: 15px;
  text-align: justify;
  padding: 1%;
  font-size: 18px;
}

@media screen and (max-width: 1160px) {
  #product_description {
    min-height: 130px;
  }
}

@media screen and (max-width: 768px) {
  #product_description {
    margin-bottom: 20px;
    min-height: 94px;
  }
}

@media screen and (max-width: 715px) {
  #product_description {
    margin-left: auto;
    margin-right: auto;
  }
}

#productSelectDiv {
  margin-left: 5%;
  height: auto;
  margin-top: 10%;
}

@media screen and (max-width: 715px) {
  #productSelectDiv {
    margin-top: 0%;
  }
}

@media screen and (max-width: 478px) {
  #productSelectDiv {
    margin-left: 4%;
  }
}

.productOptionText {
  font-weight: bold;
  font-size: 20px;
}

#product_price {
  font-size: 22px;
  color: #501616;
}

#priceTotal {
  margin-top: 10%;
  font-size: 22px;
  font-weight: bold;
}

@media screen and (max-width: 715px) {
  #priceTotal {
    margin-top: 0%;
  }
}

#divButtonsProduits {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1190px) {
  #divButtonsProduits {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #divButtonsProduits {
    width: 99%;
    margin-left: 0;
  }
}

.buttonPageProduit {
  width: 230px;
  height: 40px;
  font-size: 19px;
  background-color: #2c2b2b;
  color: honeydew;
  border-radius: 10px;
  margin-right: 15px;
}

@media screen and (max-width: 1620px) {
  .buttonPageProduit {
    width: 190px;
    font-size: 17px;
    height: 50px;
  }
}

@media screen and (max-width: 1190px) {
  .buttonPageProduit {
    margin-bottom: 10px;
    width: 99%;
    margin-left: 0;
  }
}

@media screen and (max-width: 1190px) {
  .buttonPageProduit {
    width: 97%;
  }
}

#lent, #quantityOfProduct {
  width: 150px;
  height: 30px;
  background-color: #dddcd5;
  border-radius: 10px;
}

@media screen and (max-width: 810px) {
  #lent, #quantityOfProduct {
    width: 96%;
    height: 45px;
  }
}

@media screen and (max-width: 714px) {
  #footerUl {
    margin-left: 6%;
  }
}

/*Panier */
#artTable, #artUser {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  font-size: 25px;
  text-decoration: underline;
}

#table {
  border: 3px solid black;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  border-collapse: collapse;
}

@media screen and (max-width: 1400px) {
  #table {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  #table {
    width: 98%;
  }
}

@media screen and (max-width: 600px) {
  #table {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  #table {
    width: 90%;
  }
}

th, td {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  height: 40px;
}

@media screen and (max-width: 800px) {
  th, td {
    font-size: 17px !important;
  }
}

@media screen and (max-width: 600px) {
  th, td {
    font-size: 22px !important;
  }
}

td {
  height: 40px;
}

@media screen and (max-width: 600px) {
  td {
    display: flex;
    flex-direction: column;
    border: 0.5px solid grey;
  }
}

th {
  font-size: 20px;
  height: 35px;
}

@media screen and (max-width: 600px) {
  th {
    display: none;
  }
}

.fa-minus-circle {
  margin-right: 10px;
  color: #424241;
}

.fa-plus-circle {
  margin-left: 10px;
  color: #424241;
}

.videProduct {
  display: none;
}

@media screen and (max-width: 600px) {
  .videProduct {
    display: grid;
    background-color: #3d3c3c;
  }
}

@media screen and (max-width: 600px) {
  .priceUnit {
    display: none;
  }
}

#tablefooter {
  background-color: #555353;
}

#divUsers {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 15px;
}

@media screen and (max-width: 1400px) {
  #divUsers {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  #divUsers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  #divUsers {
    width: 90%;
  }
}

.donnUsersArt {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1400px) {
  .donnUsersArt {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .donnUsersArt {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.donnUsersArt span {
  width: 45%;
  font-size: 21px;
}

@media screen and (max-width: 600px) {
  .donnUsersArt span {
    width: 100% !important;
  }
}

.donnUsersArt input {
  height: 40px;
  width: 45%;
  font-size: 17px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .donnUsersArt input {
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.spanLong, .inputLong {
  width: 95% !important;
}

@media screen and (max-width: 600px) {
  .spanLong, .inputLong {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .grandspan {
    display: none;
  }
}

.petitspan {
  display: none;
}

@media screen and (max-width: 600px) {
  .petitspan {
    display: grid;
    font-size: 19px !important;
  }
}

.textArr {
  height: 70px;
}

@media screen and (max-width: 600px) {
  .textArrSpan {
    font-size: 19px !important;
  }
}

.buttonUser {
  width: 20% !important;
  margin-top: 25px;
  background-color: #363333;
  color: honeydew;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .buttonUser {
    width: 30% !important;
  }
}

@media screen and (max-width: 600px) {
  .buttonUser {
    width: 100% !important;
    height: 50px !important;
    font-size: 20px !important;
  }
}

.buttonPagePanier {
  height: 50px;
  font-size: 20px;
}

#messageVide {
  font-size: 34px;
  text-align: center;
  height: 500px;
  margin-top: 25px;
}

.small {
  width: 0% !important;
  height: 0% !important;
}

#prodId {
  display: none !important;
}

#total {
  font-size: 26px;
  text-align: right;
  margin-right: 25%;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  #total {
    font-size: 22px;
  }
}

.buttonAlert {
  background-color: #851515;
}

/*Confirmation*/
#message {
  font-size: 24px;
  text-align: justify;
  border: 2px solid #271d1d;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 90%;
  border-radius: 20px;
}

@media screen and (max-width: 1070px) {
  #message {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  #message {
    font-size: 18px;
  }
}

@media screen and (max-width: 414px) {
  #message {
    padding: 10px;
    font-size: 17px;
  }
}

#messageDiv {
  height: 520px;
}

@media screen and (max-width: 1070px) {
  #messageDiv {
    height: 600px;
  }
}

@media screen and (max-width: 810px) {
  #messageDiv {
    height: 530px;
  }
}

#borderDiv {
  display: flex;
  border: 5px solid #271d1d;
  margin-left: 25%;
  width: 50%;
  height: 70%;
  margin-top: 2%;
  box-shadow: 10px 10px 20px #706a6a;
  border-radius: 20px;
  background-color: #dddcd5;
}

@media screen and (max-width: 1070px) {
  #borderDiv {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 650px) {
  #borderDiv {
    width: 80%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 550px) {
  #borderDiv {
    width: 90%;
  }
}
